**SQL DATASPARK**

*CUSTOMERS*

In [1]:
import mysql.connector
import pandas as pd

In [10]:
conn = mysql.connector.connect(
    host='localhost',  
    user='root', 
    password='20022004@Yuva', 
    database='global_electronics'  
)

cursor = conn.cursor()

if conn.is_connected():
    print("Successfully connected to the database.")

Successfully connected to the database.

In [4]:
customers_df = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\cleanes_customers")

for index, row in customers_df.iterrows():
    sql = """INSERT INTO customers (customer_key, gender, name, city, state_code, state, zip_code, country, continent, birthdate, age)
             VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
    val = (row['CustomerKey'], row['Gender'], row['Name'], row['City'], row['State Code'], 
           row['State'], row['Zip Code'], row['Country'], row['Continent'], row['Birthday'], row['Age'])
    cursor.execute(sql, val)

conn.commit()

In [7]:
cursor.fetchall()
cursor.execute("SELECT * FROM customers")
rows = cursor.fetchall()

for row in rows:
    print(row)

(301, 'Female', 'Lilly Harding', 'WANDEARAH EAST', 'SA', 'South Australia', '5523', 'Australia', 'Australia', datetime.date(1939, 7, 3), 85)
(325, 'Female', 'Madison Hull', 'MOUNT BUDD', 'WA', 'Western Australia', '6522', 'Australia', 'Australia', datetime.date(1979, 9, 27), 45)
(554, 'Female', 'Claire Ferres', 'WINJALLOK', 'VIC', 'Victoria', '3380', 'Australia', 'Australia', datetime.date(1947, 5, 26), 77)
(786, 'Male', 'Jai Poltpalingada', 'MIDDLE RIVER', 'SA', 'South Australia', '5223', 'Australia', 'Australia', datetime.date(1957, 9, 17), 67)
(1042, 'Male', 'Aidan Pankhurst', 'TAWONGA SOUTH', 'VIC', 'Victoria', '3698', 'Australia', 'Australia', datetime.date(1965, 11, 19), 58)
(1086, 'Male', 'Hayden Clegg', 'TEMPLERS', 'SA', 'South Australia', '5371', 'Australia', 'Australia', datetime.date(1954, 1, 20), 70)
(1133, 'Male', 'Nicholas Caffyn', 'JUBILEE POCKET', 'QLD', 'Queensland', '4802', 'Australia', 'Australia', datetime.date(1969, 11, 22), 54)
(1256, 'Male', 'Lincoln Jenks', 'KULLOGUM', 'QLD', 'Queensland', '4660', 'Australia', 'Australia', datetime.date(1950, 3, 12), 74)
(1314, 'Male', 'Isaac Israel', 'EDITH RIVER', 'NT', 'Northern Territory', '852', 'Australia', 'Australia', datetime.date(1965, 12, 21), 58)
(1568, 'Male', 'Luke Virtue', 'KOTTA', 'VIC', 'Victoria', '3565', 'Australia', 'Australia', datetime.date(1975, 7, 25), 49)
(1585, 'Female', 'Anna Hallstrom', 'GREEN LAKE', 'VIC', 'Victoria', '3401', 'Australia', 'Australia', datetime.date(1990, 8, 12), 34)
(1626, 'Female', 'Mary Leach', 'NEDS CORNER', 'VIC', 'Victoria', '3496', 'Australia', 'Australia', datetime.date(1985, 10, 17), 39)
(1642, 'Female', 'Ruby Ambrose', 'TARLO', 'NSW', 'New South Wales', '2580', 'Australia', 'Australia', datetime.date(1965, 3, 3), 59)
(1677, 'Male', 'Dean Innes', 'ELLESMERE', 'QLD', 'Queensland', '4610', 'Australia', 'Australia', datetime.date(1964, 11, 22), 59)
(1817, 'Female', 'Laura Le Rennetel', 'BEAUCHAMP', 'VIC', 'Victoria', '3579', 'Australia', 'Australia', datetime.date(1986, 7, 10), 38)
(1863, 'Female', 'Chelsea Watkins', 'NAMBOUR DC', 'QLD', 'Queensland', '4560', 'Australia', 'Australia', datetime.date(1984, 9, 22), 40)
(1945, 'Male', 'Angus Beaurepaire', 'GREENFIELDS', 'WA', 'Western Australia', '6210', 'Australia', 'Australia', datetime.date(1974, 9, 20), 50)
(2238, 'Female', 'Isabelle Cochran', 'BRUCKNELL', 'VIC', 'Victoria', '3268', 'Australia', 'Australia', datetime.date(1969, 10, 31), 54)
(2248, 'Male', 'Rory Spargo', 'JUNG', 'VIC', 'Victoria', '3401', 'Australia', 'Australia', datetime.date(1987, 12, 15), 36)
(2435, 'Female', 'Lilian Hall', 'BLAKEBROOK', 'NSW', 'New South Wales', '2480', 'Australia', 'Australia', datetime.date(1968, 4, 1), 56)
(2469, 'Female', 'Phoebe Kneeshaw', 'BIDWILL', 'QLD', 'Queensland', '4650', 'Australia', 'Australia', datetime.date(1948, 5, 20), 76)
(2512, 'Female', 'Matilda Hake', 'BUNKERS HILL', 'VIC', 'Victoria', '3352', 'Australia', 'Australia', datetime.date(1992, 11, 13), 31)
(2604, 'Female', 'Claudia Davison', 'KUBIN VILLAGE', 'QLD', 'Queensland', '4875', 'Australia', 'Australia', datetime.date(1995, 4, 8), 29)
(2751, 'Male', 'Nate Lowes', 'CALLIDE', 'QLD', 'Queensland', '4715', 'Australia', 'Australia', datetime.date(1979, 8, 20), 45)
(2792, 'Male', 'Zachary Perkin', 'BAMGANIE', 'VIC', 'Victoria', '3333', 'Australia', 'Australia', datetime.date(1976, 8, 25), 48)
(2836, 'Male', 'Nicholas Shand', 'GORDONBROOK', 'QLD', 'Queensland', '4610', 'Australia', 'Australia', datetime.date(1959, 2, 23), 65)
(3002, 'Male', 'Joshua Aronson', 'SMITHTON', 'TAS', 'Tasmania', '7330', 'Australia', 'Australia', datetime.date(2000, 11, 8), 23)
(3006, 'Female', 'Alica Stuckey', 'HARTLEY', 'NSW', 'New South Wales', '2790', 'Australia', 'Australia', datetime.date(1943, 1, 13), 81)
(3203, 'Male', 'Aidan Kane', 'ARGENTON', 'NSW', 'New South Wales', '2284', 'Australia', 'Australia', datetime.date(1998, 8, 18), 26)
(3270, 'Male', 'Hunter Templeton', 'CENTRAL TILBA', 'NSW', 'New South Wales', '2546', 'Australia', 'Australia', datetime.date(1948, 5, 2), 76)
(3327, 'Female', 'Alannah Le Messurier', 'KONONGWOOTONG', 'VIC', 'Victoria', '3315', 'Australia', 'Australia', datetime.date(1948, 4, 28), 76)
(3410, 'Male', 'Will Armitage', 'BOLLON', 'QLD', 'Queensland', '4488', 'Australia', 'Australia', datetime.date(1950, 5, 12), 74)
(3575, 'Male', 'Noah McFarland', 'HOPPERS CROSSING', 'VIC', 'Victoria', '3029', 'Australia', 'Australia', datetime.date(1942, 3, 4), 82)
(3964, 'Female', 'Rose Code', 'DIXIE', 'VIC', 'Victoria', '3265', 'Australia', 'Australia', datetime.date(1944, 2, 16), 80)
(4004, 'Female', 'Piper Wrixon', 'WYALLA PLAZA', 'QLD', 'Queensland', '4350', 'Australia', 'Australia', datetime.date(1995, 6, 24), 29)
(4174, 'Female', 'Rebecca Yelverton', 'OCEAN REEF', 'WA', 'Western Australia', '6027', 'Australia', 'Australia', datetime.date(1990, 10, 5), 34)
(4633, 'Female', 'Victoria Brown', 'KEYSLAND', 'QLD', 'Queensland', '4612', 'Australia', 'Australia', datetime.date(1964, 1, 8), 60)
(4734, 'Male', 'Justin Felan', 'PARMELIA', 'WA', 'Western Australia', '6167', 'Australia', 'Australia', datetime.date(1946, 2, 13), 78)
(4808, 'Male', 'Jamie Evenden', 'HAYWARDS BAY', 'NSW', 'New South Wales', '2530', 'Australia', 'Australia', datetime.date(1944, 6, 28), 80)
(4811, 'Male', 'Brayden Bulcock', 'WIDGIEMOOLTHA', 'WA', 'Western Australia', '6443', 'Australia', 'Australia', datetime.date(1994, 12, 21), 29)
(5097, 'Female', 'Bella Foley', 'Mount Pleasant', 'QLD', 'Queensland', '4740', 'Australia', 'Australia', datetime.date(1942, 11, 13), 81)
(5445, 'Male', 'Jake Clibborn', 'REEFTON', 'VIC', 'Victoria', '3799', 'Australia', 'Australia', datetime.date(1952, 9, 10), 72)
(5962, 'Male', 'Aiden Dugdale', 'SWAN BAY', 'NSW', 'New South Wales', '2324', 'Australia', 'Australia', datetime.date(1938, 11, 17), 85)
(6193, 'Female', 'Lara Cassidy', 'REGENCY PARK', 'SA', 'South Australia', '5010', 'Australia', 'Australia', datetime.date(1945, 12, 27), 78)
(6242, 'Male', 'Cody Grosse', 'KOOMBERKINE', 'WA', 'Western Australia', '6461', 'Australia', 'Australia', datetime.date(1964, 2, 10), 60)
(6258, 'Male', 'Zac Hull', 'SANDFORD', 'VIC', 'Victoria', '3312', 'Australia', 'Australia', datetime.date(1976, 7, 3), 48)
(6308, 'Male', 'Taj Sexton', 'KOOREH', 'VIC', 'Victoria', '3478', 'Australia', 'Australia', datetime.date(2001, 2, 15), 23)
(6459, 'Male', 'Mitchell Leigh', 'KEILOR DOWNS', 'VIC', 'Victoria', '3038', 'Australia', 'Australia', datetime.date(1942, 5, 24), 82)
(6794, 'Female', 'Abby Hyam', 'CALDER', 'TAS', 'Tasmania', '7325', 'Australia', 'Australia', datetime.date(1971, 2, 6), 53)
(7109, 'Male', 'Hamish Bolton', 'LANKEYS CREEK', 'NSW', 'New South Wales', '2644', 'Australia', 'Australia', datetime.date(1979, 11, 15), 44)
(7122, 'Female', 'Lara Virtue', 'HIGGINSVILLE', 'WA', 'Western Australia', '6443', 'Australia', 'Australia', datetime.date(1999, 8, 13), 25)
(7313, 'Female', 'Chelsea Keast', 'KANMANTOO', 'SA', 'South Australia', '5252', 'Australia', 'Australia', datetime.date(1990, 1, 26), 34)
(7398, 'Male', 'Jonathan Thorpe', 'COOEE BAY', 'QLD', 'Queensland', '4703', 'Australia', 'Australia', datetime.date(1945, 6, 10), 79)
(7493, 'Male', 'Declan Torrens', 'NOORINDOO', 'QLD', 'Queensland', '4417', 'Australia', 'Australia', datetime.date(1978, 7, 20), 46)
(7494, 'Male', 'Ben Coventry', 'HYDE PARK', 'QLD', 'Queensland', '4812', 'Australia', 'Australia', datetime.date(1967, 4, 2), 57)
(7566, 'Male', 'William Prenzel', 'KILLARA', 'VIC', 'Victoria', '3691', 'Australia', 'Australia', datetime.date(1993, 7, 1), 31)
(7664, 'Male', 'Riley Gaffney', 'CANOWIE', 'SA', 'South Australia', '5419', 'Australia', 'Australia', datetime.date(1947, 3, 18), 77)
(7700, 'Male', 'Lucas Keenan', 'STANWELL TOPS', 'NSW', 'New South Wales', '2508', 'Australia', 'Australia', datetime.date(1975, 1, 27), 49)
(7725, 'Female', 'Anna Prerauer', 'CURRIMUNDI', 'QLD', 'Queensland', '4551', 'Australia', 'Australia', datetime.date(1968, 1, 6), 56)
(7783, 'Female', 'Charli Gullett', 'MOUNT WALLACE', 'VIC', 'Victoria', '3342', 'Australia', 'Australia', datetime.date(1961, 8, 13), 63)
(8098, 'Female', 'Alana Belt', 'SOUTH GREENOUGH', 'WA', 'Western Australia', '6528', 'Australia', 'Australia', datetime.date(1967, 1, 26), 57)
(8181, 'Female', 'Amelie Nairn', 'DARTMOUTH', 'VIC', 'Victoria', '3701', 'Australia', 'Australia', datetime.date(1985, 7, 8), 39)
(8220, 'Male', 'David Blanch', 'Vista', 'SA', 'South Australia', '5091', 'Australia', 'Australia', datetime.date(1945, 7, 29), 79)
(8789, 'Female', 'Layla Mackellar', 'KALKARINDJI', 'NT', 'Northern Territory', '852', 'Australia', 'Australia', datetime.date(1999, 7, 13), 25)
(8794, 'Female', 'Abbey Lempriere', 'BOULDER CREEK', 'QLD', 'Queensland', '4714', 'Australia', 'Australia', datetime.date(1962, 11, 2), 61)
(8945, 'Female', 'Summer MacMahon', 'WARUMBUL', 'NSW', 'New South Wales', '2229', 'Australia', 'Australia', datetime.date(1939, 6, 28), 85)
(9167, 'Male', 'Luke Bushby', 'PARACOMBE', 'SA', 'South Australia', '5132', 'Australia', 'Australia', datetime.date(1975, 12, 2), 48)
(9184, 'Male', 'Sam Zimpel', 'CORUNNUN', 'VIC', 'Victoria', '3249', 'Australia', 'Australia', datetime.date(1964, 11, 24), 59)
(9360, 'Male', 'Mitchell Adam', 'MOPARRABAH', 'NSW', 'New South Wales', '2440', 'Australia', 'Australia', datetime.date(1955, 1, 30), 69)
(9370, 'Female', 'Ruby Lock', 'Cook', 'ACT', 'Australian Capital Territory', '2614', 'Australia', 'Australia', datetime.date(1953, 5, 26), 71)
(9389, 'Female', 'Eliza Brophy', 'YEARINAN', 'NSW', 'New South Wales', '2357', 'Australia', 'Australia', datetime.date(1956, 4, 8), 68)
(9456, 'Male', 'Ryder Abdullah', 'CLAREDALE', 'QLD', 'Queensland', '4807', 'Australia', 'Australia', datetime.date(1941, 5, 21), 83)
(9812, 'Female', 'Kaitlyn Morshead', 'MINJARY', 'NSW', 'New South Wales', '2720', 'Australia', 'Australia', datetime.date(1953, 1, 23), 71)
(9915, 'Female', 'Ebony Buxton', 'SEPPINGS', 'WA', 'Western Australia', '6330', 'Australia', 'Australia', datetime.date(1991, 11, 10), 32)
(10039, 'Female', 'Brianna Hann', 'NIKENBAH', 'QLD', 'Queensland', '4655', 'Australia', 'Australia', datetime.date(1947, 10, 22), 76)
(10189, 'Female', 'Alexis Birchell', 'FOREST REEFS', 'NSW', 'New South Wales', '2798', 'Australia', 'Australia', datetime.date(1962, 4, 7), 62)
(10276, 'Male', 'Angus Bardolph', 'BATEAU BAY', 'NSW', 'New South Wales', '2261', 'Australia', 'Australia', datetime.date(1972, 11, 1), 51)
(10299, 'Male', 'Anthony Macvitie', 'BEELBANGERA', 'NSW', 'New South Wales', '2680', 'Australia', 'Australia', datetime.date(1937, 5, 27), 87)
(10332, 'Male', 'James Burnage', 'Palmyra', 'WA', 'Western Australia', '6157', 'Australia', 'Australia', datetime.date(1937, 3, 26), 87)
(10393, 'Male', 'Nicholas Moncrieff', 'ROSENTHAL HEIGHTS', 'QLD', 'Queensland', '4370', 'Australia', 'Australia', datetime.date(1981, 11, 29), 42)
(10395, 'Male', 'Cameron Dillon', 'STRATHERNE', 'WA', 'Western Australia', '6309', 'Australia', 'Australia', datetime.date(1996, 2, 25), 28)
(10481, 'Female', 'Piper Maudsley', 'CELLS RIVER', 'NSW', 'New South Wales', '2324', 'Australia', 'Australia', datetime.date(1977, 4, 17), 47)
(10504, 'Male', 'Daniel Rusconi', 'SOUTH DATATINE', 'WA', 'Western Australia', '6317', 'Australia', 'Australia', datetime.date(1980, 10, 22), 43)
(10717, 'Male', 'Harrison Ingram', 'MAYA', 'WA', 'Western Australia', '6614', 'Australia', 'Australia', datetime.date(1981, 6, 16), 43)
(11035, 'Female', 'Makayla Meldrum', 'KINGS FOREST', 'NSW', 'New South Wales', '2487', 'Australia', 'Australia', datetime.date(1939, 12, 8), 84)
(11090, 'Female', 'Scarlett Scollen', 'SILVERWATER', 'NSW', 'New South Wales', '2128', 'Australia', 'Australia', datetime.date(1953, 1, 20), 71)
(11587, 'Male', 'Andrew Fenbury', 'York', 'WA', 'Western Australia', '6302', 'Australia', 'Australia', datetime.date(1977, 11, 9), 46)
(11736, 'Female', 'Summer Brownrigg', 'YARRABILBA', 'QLD', 'Queensland', '4207', 'Australia', 'Australia', datetime.date(1991, 1, 22), 33)
(12084, 'Male', 'Toby Chauvel', 'GALGA', 'SA', 'South Australia', '5308', 'Australia', 'Australia', datetime.date(1958, 7, 20), 66)
(12160, 'Male', 'Jett Creal', 'Oakhurst', 'NSW', 'New South Wales', '2761', 'Australia', 'Australia', datetime.date(1956, 9, 5), 68)
(12162, 'Female', 'Eva Lavarack', 'WHITTINGTON', 'VIC', 'Victoria', '3219', 'Australia', 'Australia', datetime.date(1954, 7, 30), 70)
(12207, 'Male', 'Aiden Jull', 'OGMORE', 'QLD', 'Queensland', '4706', 'Australia', 'Australia', datetime.date(1955, 11, 30), 68)
(12256, 'Female', 'Lilly Lynn', 'ROTHBURY', 'NSW', 'New South Wales', '2320', 'Australia', 'Australia', datetime.date(1991, 3, 7), 33)
(12365, 'Female', 'Natalie Lyon', 'STEEPLE FLAT', 'NSW', 'New South Wales', '2631', 'Australia', 'Australia', datetime.date(1958, 4, 6), 66)
(12385, 'Female', 'Lily Gribble', 'OVERLAND CORNER', 'SA', 'South Australia', '5330', 'Australia', 'Australia', datetime.date(1981, 6, 10), 43)
(12392, 'Female', 'Laura Waterhouse', 'GREENHILL', 'SA', 'South Australia', '5140', 'Australia', 'Australia', datetime.date(1957, 3, 8), 67)
(12649, 'Female', 'Rose Raven', 'NOBLE PARK NORTH', 'VIC', 'Victoria', '3174', 'Australia', 'Australia', datetime.date(1965, 12, 11), 58)
(12729, 'Male', 'Xavier Sturdee', 'STANNUM', 'NSW', 'New South Wales', '2371', 'Australia', 'Australia', datetime.date(1937, 10, 14), 87)
(12810, 'Male', 'Patrick Newbigin', 'Deer Park', 'VIC', 'Victoria', '3023', 'Australia', 'Australia', datetime.date(1957, 6, 24), 67)
(12859, 'Male', 'Koby Rayment', 'NABAWA', 'WA', 'Western Australia', '6532', 'Australia', 'Australia', datetime.date(1942, 4, 29), 82)
(12868, 'Male', 'Nathan Greville', 'MALLALA', 'SA', 'South Australia', '5502', 'Australia', 'Australia', datetime.date(1961, 3, 12), 63)
(13045, 'Female', 'Abbey Storkey', 'BLUE MOUNTAIN HEIGHTS', 'QLD', 'Queensland', '4350', 'Australia', 'Australia', datetime.date(1957, 10, 19), 67)
(13071, 'Female', 'Claudia Fuller', 'CUBALLING', 'WA', 'Western Australia', '6311', 'Australia', 'Australia', datetime.date(1973, 6, 28), 51)
(13232, 'Female', 'Maya Coates', 'UNLEY BC', 'SA', 'South Australia', '5061', 'Australia', 'Australia', datetime.date(1985, 8, 12), 39)
(13365, 'Male', 'Mitchell Cutlack', 'MOONEM', 'NSW', 'New South Wales', '2471', 'Australia', 'Australia', datetime.date(1961, 1, 2), 63)
(13607, 'Female', 'Gemma Maum', 'MAMBRAY CREEK', 'SA', 'South Australia', '5495', 'Australia', 'Australia', datetime.date(1954, 9, 21), 70)
(14069, 'Male', 'Jacob Gairdner', 'ROB ROY', 'NSW', 'New South Wales', '2360', 'Australia', 'Australia', datetime.date(1949, 5, 24), 75)
(14180, 'Female', 'Ava Lockyer', 'KALGOORLIE', 'WA', 'Western Australia', '6430', 'Australia', 'Australia', datetime.date(1998, 5, 14), 26)
(14275, 'Female', 'Dakota Dunshea', 'BENTLEY', 'NSW', 'New South Wales', '2480', 'Australia', 'Australia', datetime.date(1979, 5, 2), 45)
(14906, 'Female', 'Grace Houghton', 'BOYER', 'TAS', 'Tasmania', '7140', 'Australia', 'Australia', datetime.date(1982, 11, 16), 41)
(14962, 'Female', 'Mackenzie Newell', 'Crestwood', 'NSW', 'New South Wales', '2153', 'Australia', 'Australia', datetime.date(1936, 4, 5), 88)
(14988, 'Female', 'Emily Thirkell', 'WYNDHAM VALE', 'VIC', 'Victoria', '3024', 'Australia', 'Australia', datetime.date(1958, 7, 24), 66)
(15109, 'Female', 'Sara Marsden', 'WHALE BEACH', 'NSW', 'New South Wales', '2107', 'Australia', 'Australia', datetime.date(1999, 8, 18), 25)
(15385, 'Male', 'Harry Morgans', 'DOONGIN', 'WA', 'Western Australia', '6409', 'Australia', 'Australia', datetime.date(1995, 5, 11), 29)
(15391, 'Female', 'Elizabeth Horsley', 'MARRAWEENEY', 'VIC', 'Victoria', '3669', 'Australia', 'Australia', datetime.date(1989, 1, 25), 35)
(15569, 'Female', 'Chelsea Weekes', 'COLAC', 'VIC', 'Victoria', '3250', 'Australia', 'Australia', datetime.date(1983, 9, 8), 41)
(15718, 'Female', 'Natalie Tennant', 'DAKENBA', 'QLD', 'Queensland', '4715', 'Australia', 'Australia', datetime.date(1957, 2, 20), 67)
(16193, 'Female', 'Isabelle Beggs', 'ALTONA', 'SA', 'South Australia', '5351', 'Australia', 'Australia', datetime.date(1964, 5, 10), 60)
(16282, 'Female', 'Evie Kirkhope', 'REIDS FLAT', 'NSW', 'New South Wales', '2586', 'Australia', 'Australia', datetime.date(2000, 5, 11), 24)
(16716, 'Female', 'Abby Frater', 'KAYUGA', 'NSW', 'New South Wales', '2333', 'Australia', 'Australia', datetime.date(1987, 12, 16), 36)
(17412, 'Male', 'Mitchell Kwok', 'VICTORIA PARK', 'WA', 'Western Australia', '6100', 'Australia', 'Australia', datetime.date(1969, 8, 31), 55)
(17811, 'Female', 'Alicia Hoy', 'WATTLE GLEN', 'VIC', 'Victoria', '3096', 'Australia', 'Australia', datetime.date(1985, 10, 15), 39)
(18067, 'Male', 'Rory Koerstz', 'MOUNT MCKENZIE', 'SA', 'South Australia', '5353', 'Australia', 'Australia', datetime.date(1941, 10, 26), 82)
(18263, 'Male', 'Callum Semmens', 'RURAL VIEW', 'QLD', 'Queensland', '4740', 'Australia', 'Australia', datetime.date(1978, 6, 1), 46)
(18309, 'Male', 'Michael Vogt', 'FYANS CREEK', 'VIC', 'Victoria', '3381', 'Australia', 'Australia', datetime.date(1992, 1, 7), 32)
(18470, 'Male', 'Zac Pryor', 'GOSFORD', 'NSW', 'New South Wales', '2250', 'Australia', 'Australia', datetime.date(1969, 3, 12), 55)
(18493, 'Male', 'George Kevin', 'TASCOTT', 'NSW', 'New South Wales', '2250', 'Australia', 'Australia', datetime.date(1994, 9, 27), 30)
(18714, 'Male', 'Ashton Aitken', 'PINWERNYING', 'WA', 'Western Australia', '6317', 'Australia', 'Australia', datetime.date(1972, 8, 13), 52)
(18887, 'Female', 'Zara Castleton', 'BOOROLITE', 'VIC', 'Victoria', '3723', 'Australia', 'Australia', datetime.date(1978, 11, 25), 45)
(19082, 'Male', 'Matthew Denman', 'RANSOME', 'QLD', 'Queensland', '4154', 'Australia', 'Australia', datetime.date(1939, 4, 6), 85)
(19207, 'Male', 'Luke Casimaty', 'KURRACA', 'VIC', 'Victoria', '3518', 'Australia', 'Australia', datetime.date(1991, 1, 19), 33)
(19404, 'Male', "Cody O'Hea", 'WYNNUM', 'QLD', 'Queensland', '4178', 'Australia', 'Australia', datetime.date(1997, 6, 10), 27)
(19534, 'Female', 'Leah Martin', 'TOOBORAC', 'VIC', 'Victoria', '3522', 'Australia', 'Australia', datetime.date(1964, 12, 13), 59)
(19579, 'Female', 'Ava Reye', 'BARCALDINE', 'QLD', 'Queensland', '4725', 'Australia', 'Australia', datetime.date(1949, 10, 16), 75)
(19726, 'Female', 'Victoria Daly', 'WATANOBBI', 'NSW', 'New South Wales', '2259', 'Australia', 'Australia', datetime.date(1973, 1, 28), 51)
(19732, 'Female', 'Olivia Moresby', 'WAPPILKA', 'SA', 'South Australia', '5332', 'Australia', 'Australia', datetime.date(1981, 8, 31), 43)
(19753, 'Female', 'Alyssa Solander', 'HOWTH', 'TAS', 'Tasmania', '7316', 'Australia', 'Australia', datetime.date(1995, 10, 21), 28)
(19916, 'Male', 'Hunter Samuel', 'LITTLE PLAIN', 'NSW', 'New South Wales', '2360', 'Australia', 'Australia', datetime.date(1991, 5, 13), 33)
(20069, 'Male', 'Jesse Parry-Okeden', 'GWINDINUP', 'WA', 'Western Australia', '6237', 'Australia', 'Australia', datetime.date(1980, 11, 24), 43)
(20092, 'Female', 'Victoria Fitzsimmons', 'CAMBRIDGE GARDENS', 'NSW', 'New South Wales', '2747', 'Australia', 'Australia', datetime.date(1947, 5, 3), 77)
(20237, 'Male', 'Riley Montefiore', 'WILLIAMSTOWN', 'VIC', 'Victoria', '3016', 'Australia', 'Australia', datetime.date(1986, 7, 14), 38)
(20623, 'Female', 'Eva Rendall', 'CARLYLE', 'VIC', 'Victoria', '3685', 'Australia', 'Australia', datetime.date(1994, 3, 11), 30)
(20802, 'Male', 'Ben Whitworth', 'POLDA', 'SA', 'South Australia', '5670', 'Australia', 'Australia', datetime.date(1945, 7, 7), 79)
(20946, 'Female', 'Taylah Walstab', 'WINTHROP', 'WA', 'Western Australia', '6150', 'Australia', 'Australia', datetime.date(1999, 11, 4), 24)
(21203, 'Male', 'Tristan Dobie', 'CHARTWELL', 'VIC', 'Victoria', '3030', 'Australia', 'Australia', datetime.date(1960, 2, 18), 64)
(21387, 'Male', 'Christian Hughes', 'CREMORNE', 'NSW', 'New South Wales', '2090', 'Australia', 'Australia', datetime.date(1970, 1, 26), 54)

*PRODUCT*

In [15]:
ProductS_df = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\cleaned_products.csv")

for index, row in ProductS_df.iterrows():
    sql = """INSERT INTO products (product_key, product_name, brand, color, unit_cost_usd, unit_price_usd, subcategory_key, subcategory, category_key, category)
             VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
    val = (
        row['ProductKey'], 
        row['Product Name'], 
        row['Brand'], 
        row['Color'], 
        row['Unit Cost USD'], 
        row['Unit Price USD'], 
        row['SubcategoryKey'], 
        row['Subcategory'], 
        row['CategoryKey'], 
        row['Category']
    )
    cursor.execute(sql, val)

conn.commit()

*STORES*

In [16]:
stores_df = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\cleaned_stores.csv")

for index, row in stores_df.iterrows():
    sql = """INSERT INTO stores (store_key, country, state, square_meters, open_date, store_age)
             VALUES (%s, %s, %s, %s, %s, %s)"""
    val = (
        row['StoreKey'], 
        row['Country'], 
        row['State'], 
        row['Square Meters'], 
        row['Open Date'], 
        row['Store Age']
    )
    cursor.execute(sql, val)

conn.commit()

*SALES*

In [17]:
sales_df = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\Sales_cleaned.csv")

for index, row in sales_df.iterrows():
    sql = """INSERT INTO sales (order_number, line_item, order_date, customer_key, store_key, product_key, quantity, currency_code)
             VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"""
    val = (
        row['Order Number'], 
        row['Line Item'], 
        row['Order Date'], 
        row['CustomerKey'], 
        row['StoreKey'], 
        row['ProductKey'], 
        row['Quantity'], 
        row['Currency Code']
    )
    cursor.execute(sql, val)
    
    
conn.commit()

*EXCHANGE RATES*

In [18]:
exchange_rate_df = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\cleaned_exchange_rate_data.csv")

In [21]:
print(exchange_rate_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  datetime64[ns]
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 263.0+ KB
None

In [20]:
from datetime import datetime
exchange_rate_df['Date'] = pd.to_datetime(exchange_rate_df['Date'])

In [23]:
for index, row in exchange_rate_df.iterrows():
    sql = """INSERT INTO exchange_rates (exchange_date, currency, exchange_rate)
             VALUES (%s, %s, %s)"""
    val = (
        row['Date'], 
        row['Currency'],  
        row['Exchange']  
    )
    cursor.execute(sql, val)

conn.commit()